
<!DOCTYPE html>
<html lang="en">
    <head>

                
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width"/>
        <link rel="mask-icon" href="http://thebytery.com/pancake/third_party/themes/admin/pancake/img/mask-icon.svg?41114" color="rgb(232,163,75)">
        <title>Login | The Bytery</title>
        <link media="all" rel="stylesheet" type="text/css" href="/css/login.css" />
        <!--[if lt IE 7]><link rel="stylesheet" type="text/css" href="http://thebytery.com/pancake/third_party/themes/admin/pancake/css/lt7.css?41114" />
 <![endif]-->
    </head>
    <body class="module-users controller-admin action-login login-layout not-main-layout">
        <div id="header-area">
            <h1 class='logo'>
                <a href="http://thebytery.com/pancake/admin">
                    <img  src='/css/logo-bytery-black.png' class='header-logo '  alt='The Bytery' />
                </a>
            </h1>        
        </div>

        <div id="wrapper">
            <div id="main" class="form-holder">
                <div id="login-box">
                    <form action="/login" id="login-form" method="post">
                        <fieldset>
                            <div class="row">
                                <label for="email">Username / Email:</label>
                                <input type="text" name="loginuser" value="" id="username" class="txt" autocorrect="off" autocapitalize="off" spellcheck="false"  />            
                            </div>

                            <div class="row">
                                <label for="password">Password:</label>
                                <input type="password" name="logpsw" value="" id="password" class="txt"  />           
                            </div>

                            <div class="row">
                                <label for="remember">Remember Me:</label>
                                <input type="checkbox" name="remember" value="1" id="remember" />            
                            </div>

                            <div class="row">
                                    <a href="http://thebytery.com/pancake/admin/users/forgot_password" id="forgot-password">Forgot your password?</a>                
                            </div>
                            
                            <input type="submit" class="hidden-submit" />
                            <button type="submit" class="blue-btn">
                                <span>&nbsp;&nbsp;Login&nbsp;&nbsp;</span>
                            </button>

                        </fieldset>
                    </form>
                    <div class="register-area">
                        <form action="/registrationzone" method="get">  
                            <h2>Panel de Control</h2>       
                            <input type="submit">

                        </form>
                    </div>
                </div>
            </div>
            <!-- /main end -->

        </div>
        <!-- /wrapper end -->
        <!-- <script src="http://thebytery.com/pancake/third_party/themes/admin/pancake/js/login.js?41114"></script> -->
    </body>
</html>